.canvas{
    width: 80vw;
    height: 40vw;
    position: relative;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 2vw;
    background: linear-gradient(rgb(63, 183, 253) 30%, rgb(218, 242, 255) 100%);
}

.player{
    width: 3vw;
    height: 3vw;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background-color: blue;
    font-family: 'Audiowide';
    color: white;
    font-size: 1.5vw;
}
#player1{
    background-color: blue;
}
#player2{
    background-color: red; 
}
.healthBar{
    width: 30vw;
    height: 5vw;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 0px;
    margin: 2vw;
}
.health{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    position: absolute;
    background-color: rgb(0, 255, 72);
}
.magic{
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background-color: red;    
}
.bluefire{
    background-color: blue;
}

.platform{
    position: absolute;
    border: 0.5vw solid rgb(255, 255, 255);
    border-radius: 0px;
}
#platform{
    right: 18%;
    left: 18%;
    bottom: 28%;
}
#platform1{
    right: 0%;
    bottom: 58%;
    width: 26%;
}
#platform2{
    left: 0%;
    bottom: 58%;
    width: 26%;
}

.titlefont{
    font-size: 3vw;
    font-family: 'Audiowide';
}


@media all and (max-width: 1000px) {
    .titlefont{
        font-size: 5vw;
        font-family: 'Audiowide';
    }
}